/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет акцента  #2196F3 */
/* цвет логотипа в хедере #000000 */
/* цвет логотипа в футере #FFFFFF */
/* цвет акцента в футере #FFFFFF */
/* цвет адреса в футере rgba(255, 255, 255, 0.6)*/
/* цвет тени кнопки в герои rgba(0, 0, 0, 0.15)*/
/* цвет кнопок в портфолио #f5f4fa */

:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --logo-color-heder: #000000;
  --logo-color-footer: #ffffff;
  --hero-color-title: #ffffff;
  --button-color-title: #ffffff;
  --accent-color-footer: #ffffff;
  --address-color-footer: rgba(255, 255, 255, 0.6);
  --primery-background-color: #ffffff;
  --section-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --button-background-color: #2196f3;
  --footer-background-color: #2f303a;
  --button-color-shadow: rgba(0, 0, 0, 0.15);
  --button-background-color-portfolio: #f5f4fa;
  --border-color-pictures: #eeeeee;
  --pictures-background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*======HEDER=====*/
.header .container {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  /*border-bottom: 1px solid var(--secondary-text-color);*/
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list-header {
  display: flex;
  align-items: center;
}

.header .logo-studio {
  margin-right: 93px;
}
.header .address-nav {
  margin-left: auto;
}
.header .address-tel {
  margin-right: 50px;
}
.logo-web {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: 900;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  word-spacing: inherit;
}

.logo-studio {
  color: black;
  font-family: "Raleway", sans-serif;
  font-style: 900;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  word-spacing: inherit;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: black;
}

.navigation-list:hover,
.navigation-list:focus {
  color: #2196f3;
}

.navigation-list-portfolio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
}
.navigation-list-portfolio:hover,
.navigation-list-portfolio:focus {
  background: #2196f3;
  color: white;
}

.address-tel:hover,
.address-tel:focus,
.address-mail:hover,
.address-mail:focus {
  color: #2196f3;
}

.address-tel,
.address-mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: #757575;
}

/*........HERO......БОНЕР....*/

.hero {
  background: #2f303a;
}

.hero-baner {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
  padding-top: 200px;

  width: 1600px;
  height: 600px;
  left: 80px;
  top: 80px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  background: #2196f3;
  color: wheat;
  display: block;
  margin: 0 auto;
}

/*........АКЦЕНТИ В ЧОМУ МИ СИЛЬНІ.....*/

.benefits-list,
.work-list,
.team-list {
  display: flex;
  align-items: center;
}
.benefits-item-heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.benefits-item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ......ЧЕМ МЫ ЗАНИМАЕМСЯ......*/

.work-heading,
.team-heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*........НАША КОМАНДА........*/

.team-heading-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.185;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-text-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.185;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*........ФУТЕР..........*/

.footer-all {
  padding-top: 60px;
  padding-bottom: 60px;
  /*background-color: var(--footer-background-color);*/
}
.address-map-footer,
.address-tel-footer,
.address-mail-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: black;
}

/*........ПОРТФОЛИО...........*/

.main-portfolio-heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.main-portfolio-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
